:host {
  padding: 10px;
  border: 1px solid wheat;
  display: block;
  height: calc(100vh - 70px);

  .ui-inputgroup {
    padding-bottom: 10px;
  }

  agm-map {
    height: 100%;

    agm-info-window {
      display: flex;
      flex-direction: row;

      div,
      span {
        padding: 5px;
        font-size: 30px;
      }
    }

  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p-button {
      padding: 5px 0;
    }

  }

}
